<div class="container wrapper">

	<div class="new_howto">

	<p class="show_title">What do you wanna HOW?</p>

	<%= form_for(@HowTo, :url => '/how_to/create', :method => "put") do |f| %>
		
		How to 
		<%= f.text_field :title, :required => true, :maxlength => 30, :size => 30, :placeholder => "max. 30 chars" %>
		<br>
		<%= f.hidden_field :user_id, value: @user.id %>

		
		<br>
		<%= f.submit "Start HOWing!", :class => "btn btn-success btn-large" %>
	<% end %>

</div>


</div>